.App {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  background: #e7e8e1;
}
.loading {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

h1 {
  text-align: center;
  margin: 20px auto;
  font-size: 26px;
}

@media screen and (min-width: 425px) {
  h1 {
    font-size: 35px;
  }
}

.card_wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px 20px;
  max-width: 1400px;
  margin: auto;
}
@media screen and (min-width: 550px) {
  .card_wrap {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 768px) {
  .card_wrap {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 900px) {
  .card_wrap {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .card_wrap {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.pager {
  margin: 30px auto;
  display: flex;
  width: 180px;
  justify-content: space-between;
}

.pager li {
  display: inline-block;
  padding: 10px 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  background: #fff;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.pager li.disabled {
  opacity: 0.3;
  pointer-events: none;
}
